<div class="row mt50" id="contact">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- Map -->
                <div class="contact_map">
                    <iframe width='100%' height='100%' id='mapcanvas' src="https://maps.google.com/maps?q=O'zDJTU+qoshidagi+3-son+akademik+litsey&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a href="https://www.whatmattress.uk/mattress-reviews/nrem-mattress-review/">https://www.whatmattress.uk/mattress-reviews/nrem-mattress-review/</a></div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:100%;width:100%;'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container card-text p-4">
        <a href="#"><i class="icon-location-pin" aria-hidden="true"></i>&emsp;&nbsp;<span class="text-dark">Toshkent shahar Yakkasaroy tuman Bog'ibo'ston ko'chasi 62-uy</span></a><br>
        <a href="tel:+998712539437" target="_blank"><i class="icon-phone2" aria-hidden="true"></i>&emsp;&nbsp;<span class="text-dark">+ 998 71 253 94 37</span></a><br>
        <br>
        <ul class="probootstrap-footer-social">
            <li><a href="http://t.me/akademik_litsey_matbuot_xizmati"><i class="icon-telegram"></i></a></li>
            <li><a href="https://facebook.com/TSUULL.Litsey/"><i class="icon-facebook"></i></a></li>
            <li><a href="http://youtube.com"><i class="icon-youtube"></i></a></li>
        </ul>
    </div>
</footer>