@extends('layouts.app')

@section('styles')
    <link rel="stylesheet" href="/css/chiefs.css">
@endsection

@section('navbar')
    @include('layouts.navbar')
@endsection

@section('content')
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="rukov-con">
                <h2>Xorijiy tillar kafedrasi</h2>
                <div class="person">
                    <div class="person-img">
                        <img src="/img/departments/2.jpg" alt="Temirxodjayeva Shaxnoza Oribjonovna">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Temirxodjayeva Shaxnoza Oribjonovna</h2>
                        <p class="per-pos">Alisher Navoiy nomidagi Toshkent davlat oʻzbek tili va adabiyoti universiteti akademik litsey kafedra mudiri</p>
                    </div>
                </div>
                <p class="text-justify pb0">
                    &nbsp;&nbsp;&nbsp;&nbsp;Xorijiy tillar kafedrasida quyidagi yo’nalishlar  mavjud: Xorijiy filologiya (Ingliz, rus tili, arab hamda xitoy tillari  adabiyoti). Kafedrada 18 ta o’qituvchi mavjud bo’lib, 9 ta ingliz tili, 1 ta fransuz tili, 1 ta ispan tili, 1 ta xitoy tili va 1 ta arab tili fani o’qituvchilari faoliyat olib borishmoqda.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;O’zbekiston Respublikasi Prezidentining “Chet tillarni o’rganish tizimini yanada takomillashtirish chora-tadbirlari to’grisida” 2012-yil 10-dekabrdagi PQ-1875-sonli qaroriga o’tish uchun davlat test markaziga ariza berishlari mumkinligi haqidagi qaroriga binoan kafedra ingliz tili o’qituvchilaridan quyidagi 3 nafar o’qituvchilar DTM test sinovlaridan muvaffaqiyatli o’tishdi.<br>
                    <strong>
                        - Temirxodjayeva Shaxnoza Oribjonovna<br>
                        - Hayitboyev Bahrom Erkinovich<br>
                        - Urazova Gulbonu Xalbayevna
                    </strong><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Bugungi kunda “Xorijiy tillar” kafedrasi quyidagi vazifalarni o’z ichiga oladi:<br>
                    - Davlat ta’lim standarti darajasida bilim va ko’nikmalarga ega bo’lishi;<br>
                    - O’quv jarayoni sifatini oshirish;<br>
                    - Yuqori darajada o’zlashtiruvni ta’minlash;<br>
                    - Fan o’qituvchilarining professional o’sishini yo’lga qo’yish va shakllantirish.


                </p>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p class="mb0"><strong>Kafedrada o'qitiladigan fanlar</strong></p>
                        - Ingliz tili<br>
                        - Rus tili<br>
                        - Arab tili<br>
                        - Xitoy tili<br>
                        - Ispan tili<br>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p class="mb0"><strong>To'garaklar</strong></p>
                        - Smart English<br>
                        - Русская речь<br>
                        - Speaking club<br>
                        - Yosh xitoyshunoslar<br>
                        - Arab tilini sevaman<br>
                        - English around us<br>
                        - Active Learner
                    </div>
                </div>
            </div>
        </div>
    </div>
@endsection

@section('footer')
    @include('layouts.footer')
@endsection
