@extends('layouts.app')

@section('styles')


    <link rel="stylesheet" href="/css/chiefs.css">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="rukov-con">
                <h2>Rahbariyat</h2>
                <div class="person">
                    <div class="person-img">
                        <img src="/img/chiefs/1.jpg" alt="Adizov Bekjon Qo‘chchiyevich">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Adizov Bekjon Qo‘chchiyevich</h2>
                        <p class="per-pos">Alisher Navoiy nomidagi Toshkent davlat oʻzbek tili va adabiyoti universiteti akademik litseyi direktori</p>
                        <ul class="per-contact">
                            <li><img src="/img/chiefs/phone.png" alt=""><a href="tel:+998712539445">+998 71 253-94-45</a></li>
                            <li><img src="/img/chiefs/email.png" alt=""><a href="mailto:navoiy-al@inbox.uz">navoiy-al@inbox.uz</a></li>
                            <li><img src="/img/chiefs/office.png" alt=""><a href="tel:+998712539445">+998 71 253-94-45</a></li>
                            <li><img src="/img/chiefs/clock.png" alt="">Dushanba 14:00 - 17:00</li>
                        </ul>
                    </div>
                </div>

                <div class="person">
                    <div class="person-img">
                        <img src="/img/chiefs/2.jpg" alt="Aliqulova Dilbar Esanovna">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Aliqulova Dilbar Esanovna</h2>
                        <p class="per-pos">Oʻquv ishlari boʻyicha direktor oʻrinbosari</p>
                        <ul class="per-contact">
                            <li><img src="/img/chiefs/phone.png" alt=""><a href="tel:+998712539437">+998 71 253-94-37</a></li>
                            <li><img src="/img/chiefs/email.png" alt=""><a href="mailto:navoiy-al@inbox.uz">navoiy-al@inbox.uz</a></li>
                            <li><img src="/img/chiefs/office.png" alt=""><a href="tel:+998712539437">+998 71 253-94-37</a></li>
                            <li><img src="/img/chiefs/clock.png" alt="">Payshanba 14:00 - 17:00</li>
                        </ul>
                    </div>
                </div>

                <div class="person">
                    <div class="person-img">
                        <img src="/img/chiefs/3.jpg" alt="Matkarimova Fatima Sultanovna">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Matkarimova Fatima Sultanovna</h2>
                        <p class="per-pos">Ma'naviy-ma'rifiy ishlar boʻyicha direktor oʻrinbosari</p>
                        <ul class="per-contact">
                            <li><img src="/img/chiefs/phone.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/email.png" alt=""><a href="mailto:navoiy-al@inbox.uz">navoiy-al@inbox.uz</a></li>
                            <li><img src="/img/chiefs/office.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/clock.png" alt="">Seshanba 14:00 - 17:00</li>
                        </ul>
                    </div>
                </div>


                <div class="person">
                    <div class="person-img">
                        <img src="/img/chiefs/5.jpg" alt="Abdullayev Temur Radjabboyevich">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Abdullayev Temur Radjabboyevich</h2>
                        <p class="per-pos">Chuqurlashtirilgan xorijiy tillar boʻyicha direktor oʻrinbosari</p>
                        <ul class="per-contact">
                            <li><img src="/img/chiefs/phone.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/email.png" alt=""><a href="mailto:navoiy-al@inbox.uz">navoiy-al@inbox.uz</a></li>
                            <li><img src="/img/chiefs/office.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/clock.png" alt="">Chorshanba 14:00 - 17:00</li>
                        </ul>
                    </div>
                </div>

                <div class="person">
                    <div class="person-img">
                        <img src="/img/chiefs/4.jpg" alt="Adamatov Anvar Ablaqulovich">
                    </div>
                    <div class="person-about">
                        <h2 class="per-name">Adamatov Anvar Ablaqulovich</h2>
                        <p class="per-pos">Xoʻjalik ishlari boʻyicha direktor oʻrinbosari</p>
                        <ul class="per-contact">
                            <li><img src="/img/chiefs/phone.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/email.png" alt=""><a href="mailto:navoiy-al@inbox.uz">navoiy-al@inbox.uz</a></li>
                            <li><img src="/img/chiefs/office.png" alt=""><a href="tel:+998712539436">+998 71 253-94-36</a></li>
                            <li><img src="/img/chiefs/clock.png" alt="">Shanba 14:00 - 17:00</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
