@extends('layouts.app')

@section('navbar')
    @include('layouts.navbar')
@endsection

@section('content')

    <div class="container">
        <div class="row">
            <h6 class="text-center">Barcha yangiliklar</h6>
            <table class="table table-hover" style="color: #000000">
                <tbody>


					<div class="item">
                                        <a href="http://litsey.edu.uz" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y40.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Akademik litseylarga kirish test natijalari e'lon qilinmoqda</h3>
                                                <p>2022/2023-oʻquv yili uchun respublika oliy taʼlim muassasalari tasarrufidagi akademik litseylarga kirish imtihonlarining YAKUNIY NATIJALARI (mandat) eʼlon qilindi.Yakuniy natijalarni vazirlikning <b>litsey.edu.uz </b> rasmiy veb-sayti orqali bilishingiz mumkin.<br><i>Abituriyent to‘plagan bali asosida ustuvorlik bo‘yicha tanlagan akademik litseyga o‘qishga qabul qilinadi</i></p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Avgust 26  2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/kt.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>9-SINF BITIRUVCHILARI DIQQATIGA</h3>
                                                <p>Akademik litseylarga kirish test sinovlari o‘tkazilish sanasi va vaqti aniq bo‘ldi. Kirish test sinovlari <b>2022-yil 22-avgust kuni </b> Davlat test markazi tomonidan maxsus belgilangan hududlarda bir smenada o‘tkaziladi. Test sinovlarini o‘tkazish hududi va imtihonga kirish ruxsatnomasini olish bo‘yicha qo‘shimcha ma’lumot beriladi.<br><b>Test sinovlari soat 8:00 boshlanadi!!!</b></p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Avgust 8  2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/Result.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>9-SINF BITIRUVCHILARI DIQQATIGA</h3>
                                                <p>Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi 2022/2023-o'quv yili uchun 9-sinf bitiruvchilarini qabul qilish bo'yicha o'tkazilgan dastlabki yozma imtihonlarning umumiy natijalarini e'lon qildi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyul 17  2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y38.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>9-SINF BITIRUVCHILARI DIQQATIGA</h3>
                                                <p>Hurmatli 9-sinf bitiruvchilari va ularning ota-onalari,akademik litseyimizda 2022-yil 13-, 14-, 15-, 16- iyul kunlari akademik litsey uchun Saralash imtihonining 1-bosqichi DASTLABKI YOZMA IMTIHONI o'tkaziladi.O‘quvchilar 13-, 14-, 15-, 16-iyul kunlari yuqoridagi BELGILANGAN GRAFIK asosida akademik litsey binosiga  soat 8:30 dan kechikmasdan, oʼquvchi formasida yetib kelishlari</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyul 10  2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y37.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>ToshDO'TAU rektori Sh.S.Sirojiddinov bilan uchrashuv</h3>
                                                <p>Joriy yilning 24-iyunida Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyida ToshDO'TAU rektori Sh.S.Sirojiddinov bilan uchrashuv bo'lib o'tdi.Uchrashuv davomida oliy va o'rta ta'lim integratsiyasini rivojlantirish maqsadida universitet va akademik litseyning vazifalari belgilab olindi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 24, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y36.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>QABUL-2022 jarayonlari uchun CALL CENTER markazi o‘z ish faoliyatini boshladi.</h3>
                                                <p>Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyida QABUL-2022 jarayonlari uchun CALL CENTER markazi o‘z ish faoliyatini boshladi. “Call-markaz”ning ish faoliyati haftaning  dushanba-shanba kunlari soat 08:00dan 18:00ga qadar davom etadi.<br>+998(71) 253 94 36 <br>+998(71) 253 94 37</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 21, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y35.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>9-sinf bitiruvchilari diqqatiga!</h3>
                                                <p>2022-yilning 20-iyun kunidan 2022-2023-o‘quv yili uchun 9-sinf bitiruvchilarini akademik litseylarga qabul uchun onlayn ro‘yxatga olish boshlandi.Ro'yxatga olish litsey.edu.uz ta'lim portali orqali onlayn amalga oshiriladi. Barcha 9-sinf bitiruvchilari qabul uchun tegishli hujjatlarni portalga joylash orqali ro'yxatdan o'tishlari mumkin. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 20, 2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y34.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Prezident qarori</h3>
                                                <p>1 226 nafar akademik litsey o'quvchisiga chet tilidan imtihonlarsiz maksimal ball beriladi. Mazkur qaror ijrosini ta'minlash maqsadida DTM tomonidan akademik litseylarning 2021-2022 o'quv yili bitiruvchilaridan 2 bosqichli saralash imtihonlari o'tkazildi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 5, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y33.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Litsey iftixorlari</h3>
                                                <p>Akademik litseyimiz 2-kurs bitiruvchilari muddatidan oldin 2022-2023-o'quv yilida oliy ta'lim muassasalari talabasi bo'lishda ilk muvaffaqiyatlarga erisha boshlashdi. O'quvchilarimiz ustozlarining zahmatli mehnatlari, o'zlarining tinimsiz intilishlari samarasi o'laroq xorijiy oliygohlar hamda ularning Toshkent shahridagi filiallariga talabalikka qabul qilindilar</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 4, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y32.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Litsey iftixorlari</h3>
                                                <p>Har bir sohada chet tillarida erkin muloqot qila oladigan shaxslarga ehtiyoj katta bo'lgan bir davrda akademik litseyi 2-kurs o'quvchilari ham chet tillarini o'rganishda tinimsiz sa'y-harakat qilishmoqda. Bugunga qadar 22 nafar o'quvchimiz chet tilini bilish darajasini tasdiqlovchi  Xalqaro darajadagi IELTS, TOEFL, CEFR sertifikatlariga ega bo'lishdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Iyun 2, 2022</span>
                                            </div>
                                        </a>
                                    </div>

					<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y31.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Teatr</h3>
                                                <p>Joriy yilning 20-may kunida Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi o'qituvchilari va o'quvchilari Juma - ma'naviy-ma'rifiy kun doirasida Muqimiy nomidagi O'zbekiston davlat musiqali teatriga tashrif buyurishdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> May 21, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y30.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Kitob ulashamiz</h3>
                                                <p>Joriy yilning 11-mayida Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyida "Kitob ulashamiz" shiori ostida kitoblar yarmarkasi bo'lib o'tdi. Akademik litsey direktori BEKJON ADIZOV QO'CHCHIYEVICH boshchiligida barcha o'qituvchilar va o'quvchilar litsey kutubxonasi fondiga o'zlarining sevimli kitoblarini taqdim qilishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> May 11, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y29.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>9-may Xotira va qadrlsh kuni</h3>
                                                <p>Akademik litseyi o'quvchilari ishtirokida tarix fani o'qituvchisi Mahfuza Rajabova boshchiligida 9-may - Xotira va qadrlash kuni munosabati bilan tadbir dasturi tashkil qilindi. Ma'naviy-ma'rifiy kecha davomida o'quvchilar o'z iste'dodlarini sahna ko'rinishlari, maftunkor raqslar, qo'shiqlar va she'rlar ijro etish orqali namoyon qilishdi.  </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> May 10, 2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y28.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>DTM test jarayonlari</h3>
                                                <p>Joriy yilning 30-aprelida  DTM namunasidagi test topshiriqlari asosida Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi 2-kurs  o'quvchilari kesimida test sinovi  o'tkazildi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 30, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y27.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>"Mehrli qo'llar" xayriya tadbiri</h3>
                                                <p>Akademik litseyi o'qituvchilari va o'quvchilari Yoshlar Ittifoqi boshlang'ich tashkiloti yetakchiligida "Mehrli qo'llar" xayriya tadbiri doirasida Toshkent shahri 22-sonli Mehribonlik uyiga borishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 29, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y26.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Matematiklar bellashuvi</h3>
                                                <p> Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyining "Aniq va tabiiy fanlar" kafedrasi ustozlari boshchiligida 1-kurs o'quvchilari o'rtasida "Matematiklar bellashuvi" tashkil qilindi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 28, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y25.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Muhammad Yusuf tavalludining 68 yilligi </h3>
                                                <p>Akademik litsey 101-guruh o'quvchilari bilan Ijtimoiy-gumanitar fanlar kafedrasining ona tili va adabiyot fani o'qituvchilari boshchiliklarida atoqli o'zbek shoiri Muhammad Yusuf tavalludining 68 yilligi munosabati bilan she'riyat kechasi o'tkazildi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 26, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y24.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Oshiq eshiklar kuni</h3>
                                                <p>"OCHIQ ESHIKLAR KUNI" munosabati bilan tashrif buyurgan 9-sinf bitiruvchilarini  akademik litsey direktori BEKJON ADIZOV QO'CHCHIYEVICH litsey faoliyati, mavjud ta'lim tizimi, ta'lim yo'nalishlari, pedagog kadrlar va litsey o'quvchilari erishgan yutuqlar bo'yicha ma'lumotlar bilan tanishtirdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 23, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y22.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Taqdirlash marosimi</h3>
                                                <p>2022-yilning 22-aprelida Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi o'qituvchilarini taqdirlash marosimi bo'lib o'tdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 22, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y21.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Xalqaro festival davom etadi!</h3>
                                                <p>Akademik litsey rasm va chizmachilik fani o'qituvchisi Nodira Sharipova boshchiligida 207-guruh o'quvchilari  Xalqaro san'at festivali uchun Kamoliddin Behzod nomidagi milliy rassomchilik va dizayn instituti talabalari tomonidan tashkil qilingan modalar namoyishida ishtirok etishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 21, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y20.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Psixologik trening</h3>
                                                <p>Akademik litsey psixologi boshchiligida 202-guruh o'quvchilari bilan tabiat qo'ynida noan'anaviy dars mashg'uloti o'tkazildi. Dars psixologik trening shaklida tashkillashtirilib, o'quvchilar o'rtasida yuzaga kelishi mumkin bo'lgan noxush holatlarning oldini olish va psixik salomatlikni mustahkamlash maqsadini dasturilamal qildi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 16, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y19.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Yashash uchun 1001 sabab</h3>
                                                <p>Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyida psixolog Shahnoza Narxodjayeva tomonidan "Yashash uchun 1001 sabab" nomli motivatsion aksiya tashkil etildi. Aksiyada o'quvchilar "ORZULAR DARAXTI"ga o'z orzularini, maqsadlarini yozishdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 15, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y18.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Pazanda qizlar tanlovi</h3>
                                                <p>Oʻzbekiston Respublikasi Prezidentining yoshlar maʼnaviyatini yuksaltirish va ularning boʻsh vaqtini mazmunli tashkil etish boʻyicha 5 ta muhim tashabbuslari doirasida akademik litseyning 1-bosqich qizlari oʻrtasida “Pazanda qizlar” tanlovi tashkil etildi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 8, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y17.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Kitobxonlik tanlovi</h3>
                                                <p> "Kitob - qalb gavhari" nomli kitobxonlik tadbiri bo'lib o'tdi. Tadbir akademik litseyning "Ijtimoiy-gumanitar fanlar" kafedrasi ustozlari Nargiza Keldiyeva va Nasiba Matkarimovalar boshchiliklarida tashkillashtirildi va unda 101, 102, 105, 201, 205-guruh o'quvchilari ishtirok etishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 8, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y16.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Zakovat intellektual bellashuvi</h3>
                                                <p>Sohibqiron Amir Temur tavalludining 686 yilligi munosabati bilan 101, 201, 202, 204, 205-guruh o'quvchilari o'rtasida ularning topqirlik va zukkoliklarini aniqlash maqsadida  "Zakovat" intellektual o'yini tashkillashtirildi. <br>1-o'rin - 101-guruh <br>2-o'rin - 205-guruh <br>3-o'rin - 201-guruh</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 8, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y15.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Mehr xayr sahovat</h3>
                                                <p>2022-yilning 8-aprel kunida Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi 207-guruh o'quvchilari Informatika fani o'qituvchisi Nigora Shodiyeva rahbarliklarida "Mehribonlik uyi"ga tashrif buyurishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Aprel 8, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y14.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>👸👸👸Ayollar dunyoning gultoji asli!</h3>
                                                <p>Akademik litseyi "Xorijiy tillar" kafedrasi ustozlari boshchiligida akademik litsey o'quvchilari tomonidan 8-mart - Xalqaro xotin-qizlar bayrami munosabati bilan ajoyib tadbir dasturi tashkillashtirildi. Tadbirda o'quvchilar  turli tillarda she'rlar, tabrik so'zlari, dunyo xalqlarining milliy va zamonaviy raqslaridan namunalar,ingliz va rus tilidagi sahna asarlarini namoyish qilishdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 7, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y13.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>💐💐💐Bahor bayramlarga to'la fasl!</h3>
                                                <p>Bugun erta tongdan 8-mart - Xalqaro xotin-qizlar kuni munosabati bilan Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyida bayram kayfiyati hukmron! Azaldan xalqimizda ayollarga e'zoz, ehtirom yuksak darajada bo'lgan.Bugun ham ana shu ehtiromning nishonasiga guvoh bo'ldik! Aziz xotin-qizlar bayramingiz muborak bo'lsin!Yuzingizni aslo tabassum tark etmasin!</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 7, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y12.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3><b>"Yashil yillik" </b>umummilliy tadbiri dasturi</h3>
                                                <p> Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi o'qituvchilari va o'quvchilari O‘zbekistonda ekologiyani yaxshilashga ko'maklashish maqsadida litsey hududi va atroflariga ko'chat o'tqazishdi. Litsey rahbariyati boshchiligida o'qituvchilar va o'quvchilar birgalikda harakat qilib, o'z hissalarini qo'shdilar.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 4, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y11.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>⚡️⚡️⚡️ Ochiq eshiklar kuni!</h3>
                                                <p>2022-yil 3-mart kuni akademik litseyimiz o'quvchilari "Ochiq eshiklar kuni" munosabati bilan Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universitetiga tashrif buyurishdi. O'quvchilar tashrif mobaynida universitetda mavjud sharoitlar, o'qitiladigan fanlar, professor-o'qituvchilar, faoliyat yuritayotgan kafedralar, fakultetlar faoliyati bilan yaqindan tanishishdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 4, 2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y10.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>⚡️⚡️⚡️ Muhim yangilik!</h3>
                                                <p>2022-yil 3-mart kuni Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi, "Future Genius School" va "Nagoya" chet tillarini o'qitishga mo'ljallangan nodavlat ta'lim muassasasi o'rtasida hamkorlik munosabatlarini yo'lga qo'yuvchi shartnoma imzolandi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 4, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y9.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>1-mart - ardoqli o'zbek shoirasi Zulfiyaxonim tavallud topgan kun!</h3>
                                                <p>O'zining bahor kabi nafis va takrorlanmas she'rlari bilan insonlar qalbini zabt eta olgan o'zbek xalqining sevimli shoirasi 1915-yil, 1-martda Toshkent shahrida tug'ilgan.Shoiraning "Dalada bir kun", "Men tongni kuylayman", "Yuragimga yaqin kishilar", "Lolaqizg'aldoq", "Quyoshli qalam" to'plamlari o'zbek kitobxonlari qalbidan o'rin egallagan. Shoiraning hayot va ijod yo'li avlodlar qalbida chinakam matonat va vatanparvarlik, sadoqat timsoli bo'lib qolaveradi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 1, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y8.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Mahalla va akademik litsey hamkorligi</h3>
                                                <p>2022-yil 1-mart kuni Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi o'qituvchilari, o'quvchilari va "To'qimachi", "Meros", "Muqimiy", "Rakat" mahalla faollari ishtirokida sport tadbiri tashkillashtirildi.Musobaqada o'quvchilar ham,  o'qituvchilar ham, mahalla faollari ham faol ishtirok etib, bahorning ilk kunini jo'shqin kayfiyatda qarshi oldilar!Tashkillashtirilgan tadbir dasturi "Mening yurtim" telekanali yangiliklarida yoritiladi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 1, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y7.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>🛑🛑🛑Akademik litseyimiz o'quvchilarining yana bir faxrli yutug'i!</h3>
                                                <p> “Barkamol avlod - 2022”, ”Stol tennisi” sport musobaqalarining TOSHKENT SHAHAR  bosqichi bo'lib o'tdi. A.Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi 205-guruh o’quvchisi Ulug’bekova Farzona faxrli 1- o'rinni egallab, Farg’ona viloyatida bo’lib o’tadigan RESPUBLIKA bosqichiga yo’llanmani qo'lga kiritdi. Yutuqlaringiz bardavom bo'lsin! Respublika bosqichida ham OMAD yor bo'lsin!</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Mart 1, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>🛑🛑🛑Kunning ajoyib yangiligi!!!</h3>
                                                <p>Alisher Navoiy nomidagi Toshkent davlat o'zbek tili va adabiyoti universiteti akademik litseyi o'quvchilari Respublika fan olimpiadasining III tur  (shahar)  bosqichida peshqadamlikni qo'ldan bermasdan faxrli o'rinlarni qo'lga kiritishdi.Ustozlarimiz va ularning shogirdlarini erishgan muvaffaqiyatlari bilan muborakbod etamiz! Ularga Respublika bosqichida ham ulkan zafarlar tilaymiz! OMAD!!!</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 28, 2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Ijod ahliga sayohat</h3>
                                                <p>Akademik litseyimizning rasm va chizmachilik fani o'qituvchisi Nodira Sharipova 207-guruh o'quvchilari bilan tabiat qo'ynida dars o'tishdi. Litsey hovlisida tashkil etilgan mazkur dars o'quvchilarda o'zgacha taassurot, yangicha g'oyalar paydo bo'lishiga turtki bo'ldi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 25, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Davlat test markazi tomonidan test topshiriqlari aprobatsiyadan o'tkazildi.</h3>
                                                <p>Sinov jarayonida Respublikamizning turli hududlaridagi akademik litsey, ixtisoslashtirilgan umumta'lim va o'rta umumiy ta'lim maktablarining 5 ming nafarga yaqin bitiruvchilari qatorida 2022-yil 16-fevral kuni Alisher Navoiy nomidagi ToshDO'TAU akademik litseyi o'quvchilari ham ishtirok etishdi. Test jarayoni davlat test markazi xodimlari tomonidan nazorat qilindi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 17, 2022</span>
                                            </div>
                                        </a>
                                    </div>


									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Zahiriidin Muhammad Bobur tavalludining 539 yillligi</h3>
                                                <p>14-fevral... Buyuk shoh va shoir tavalludiga 539 yil to'libdi. Mamlakatimizning barcha maskanlarida bo'lgani kabi bugun bizning ham akademik litseyimizda ushbu kun ko'tarinki kayfiyatda o'tkazildi. Litseyimizning "Ijtimoiy-gumanitar fanlar" kafedrasining ona tili va adabiyot fani o'qituvchilari Nasiba Matkarimova va Zaxro Oripovalar boshchiliklarida "Andijon osmonidan chaqnagan yulduz" nomli tadbir dasturi bo'lib o'tdi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 14, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Alisher Navoiy tavalludining 581 yilligi</h3>
                                                <p>Hazrat mir Alisher Navoiy tavalludining 581 yilligini keng nishonlash maqsadida akademik litseyimizning "Ijtimoiy-gumanitar fanlar" kafedrasining ona tili va adabiyot fani o'qituvchilari Saodat Eshpulatova va Mamlakat Umirovalar boshchiliklarida "Navoiyga qilurmiz ta'zim" nomli bayram dasturi tashkillashtirildi. Akademik litsey direktori B.Q.Adizov so'zga chiqib, barcha tadbir qatnashchilarini Navoiy tavalludining 581 yilligi bilan tabriklab, nutq so'zladi.</p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 9, 2022</span>
                                            </div>
                                        </a>
                                    </div>

									<div class="item">
                                        <a href="" class="probootstrap-featured-news-box">
                                            <figure class="probootstrap-media"><img src="/public/img/y1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>

                                            <div class="probootstrap-text">
                                                <h3>Ochiq dars</h3>
                                                <p>Alisher Navoiy tavalludining 581 yilligi munosabati bilan akademik litseyning 101-guruh o'quvchilari ona tili va adabiyot fani o'qituvchisi Nasiba Matkarimova boshchiligida "Navoiy merosi - bebaho boylik" mavzusida ochiq dars tashkil qilishdi. Hazrat Navoiy asarlarining bugungi kundagi ahamiyati va o'rni xususida qizg'in munozara qilindi.Darsda o'quvchilar hazrat Navoiy ijodidan namunalar ijro etishdi. </p>
<span class="probootstrap-date"><i class="icon-calendar"></i> Fevral 9, 2022</span>
                                            </div>
                                        </a>
                                    </div>


                </tbody>
            </table>
        </div>
    </div>
@endsection


@section('footer')
    @include('layouts.footer')
@endsection